/.venv
/lco_data-20250326-4
/lco_data-20250327-4
/lco_data-20250331-4
/nres_spectrum.pdf
/nres_spectrum_Oxygen.pdf
/nres_spectrum_Sodium.pdf
/nres_spectrum_Telluric B.pdf
/nres_spectrum_ha.pdf
/nres_spectrum_hb.pdf
/nres_spectrum_hg.pdf
/nres_spectrum_rv.pdf
spectra/cptnrs03-fa13-20250326-0016-e92-1d.fits.fz
spectra/cptnrs03-fa13-20250327-0019-e92-1d.fits.fz
spectra/cptnrs03-fa13-20250329-0021-e92-1d.fits.fz
spectra/cptnrs03-fa13-20250328-0017-e92-1d.fits.fz
